@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using DreamJournal.Domain.Enums
@using DreamJournal.Domain.Extensions
@using DreamJournal.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@using System.Globalization

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<div class="row">
    <div class="col-lg-6">
        <StatusMessage Message="@Message" />

        <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <h2>Create a new account.</h2>
            <hr />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="Input.Email">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="Input.Password">Password</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="Input.ConfirmPassword">Confirm Password</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>

            @* My Entries *@

            @* Custom User Name *@
            <div class="form-floating mb-3">
                <InputText 
                    @bind-Value="Input.CustomUserName"    
                    Name="Input.CustomUserName"
                    id="Input.FirstName" 
                    class="form-control" 
                    aria-required="true" 
                    placeholder="User Name" 
                 />

                <label for="Input.CustomUserName">First Name</label>
                <ValidationMessage For="() => Input.CustomUserName" class="text-danger" />
            </div>


            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.FirstName" id="Input.FirstName" class="form-control" aria-required="true" placeholder="First Name" />
                <label for="Input.FirstName">First Name</label>
                <ValidationMessage For="() => Input.FirstName" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.MiddleName" id="Input.MiddleName" class="form-control" aria-required="true" placeholder="Middle Name (optional)" />
                <label for="Input.MiddleName">Middle Name</label>
                <ValidationMessage For="() => Input.MiddleName" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.LastName" id="Input.LastName" class="form-control" aria-required="true" placeholder="Last Name" />
                <label for="Input.LastName">Last Name</label>
                <ValidationMessage For="() => Input.LastName" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputDate @bind-Value="Input.BirthDate" id="Input.BirthDate" class="form-control" aria-required="true" placeholder="" />
                <label for="Input.BirthDate">Birth Date</label>
                <ValidationMessage For="() => Input.BirthDate" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputSelect @bind-Value="Input.ReligiousAffiliation" id="Input.ReligiousAffiliation" class="form-control" aria-required="true" placeholder="">
                    <option value="">-- Religious Affiliation --</option>
                    @foreach (var religionAffiliation in Enum.GetValues<ReligiousAffiliationEnum>())
                    {
                        <option value="@religionAffiliation">@religionAffiliation</option>
                    }
                </InputSelect>
                <label for="Input.ReligiousAffiliation">Religious Affiliation</label>
                <ValidationMessage For="() => Input.ReligiousAffiliation" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.City" id="Input.City" class="form-control" aria-required="true" placeholder="City" />
                <label for="Input.City">City</label>
                <ValidationMessage For="() => Input.City" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputSelect @bind-Value="Input.State" id="Input.State" class="form-control" aria-required="true" placeholder="">
                    <option value="">-- State --</option>
                    @foreach (var state in Enum.GetValues<StateEnum>())
                    {
                        <option value="@state">@state.ToDescriptionString()</option>
                    }
                </InputSelect>
                <label for="Input.State">State</label>
                <ValidationMessage For="() => Input.State" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.ZipCode" id="Input.ZipCode" class="form-control" aria-required="true" placeholder="Zip Code" />
                <label for="Input.ZipCode">Zip Code</label>
                <ValidationMessage For="() => Input.ZipCode" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputSelect @bind-Value="Input.Country" id="Input.Country" class="form-control" aria-required="true" placeholder="">
                    <option value="">-- Country --</option>
                    @foreach (var country in Enum.GetValues<CountryEnum>())
                    {
                        <option value="@country">@country.ToDescriptionString()</option>
                    }
                </InputSelect>
                <label for="Input.Country">Country</label>
                <ValidationMessage For="() => Input.Country" class="text-danger" />
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </EditForm>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    /// <summary>
    /// MCNOTE: This sets the anonymous username on page load. If a user wants to go with the randomly generated username, they can see it right away.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        Input ??= new InputModel();

        if(string.IsNullOrWhiteSpace(Input.CustomUserName))
        {
            Input.CustomUserName = await GenerateUniqueAnonymousUsernameAsync(); 
        }

    }

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();
        TextInfo textInfo = CultureInfo.CurrentCulture.TextInfo;


        var existing = await UserManager.FindByNameAsync(Input.CustomUserName);
        Console.WriteLine("\n\n\n\n\n\n\n\n****************************** " + Input.CustomUserName);
        if (existing != null)
        {
            identityErrors = new[] { 
                new IdentityError 
                { 
                    Description = $"The username '{Input.CustomUserName}' is already taken. Please try another one."
                } 
            };
            return;
        }

        //await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        await UserStore.SetUserNameAsync(user, Input.CustomUserName, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);

        // Custom attributes
        user.FirstName = Input.FirstName;
        user.MiddleName = Input.MiddleName;
        user.LastName = Input.LastName;
        user.BirthDate = Input.BirthDate;
        user.ReligiousAffiliation = Input.ReligiousAffiliation;
        user.City = Input.City;
        user.State = Input.State;
        user.ZipCode = Input.ZipCode;
        user.Country = Input.Country;

        // MCNOTE: Set email to confirmed for testing
        user.EmailConfirmed = true;

        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        Logger.LogInformation("User created a new account with password.");

        // MCNOTE: Email Sender. Commented out for dev purposes

        // var userId = await UserManager.GetUserIdAsync(user);
        // var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        // code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        // var callbackUrl = NavigationManager.GetUriWithQueryParameters(
        //     NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
        //     new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        // await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        // if (UserManager.Options.SignIn.RequireConfirmedAccount)
        // {
        //     RedirectManager.RedirectTo(
        //         "Account/RegisterConfirmation",
        //         new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        // }
        // else
        // {

        // MCNOTE: Log user directly in
        await SignInManager.SignInAsync(user, isPersistent: false);
        RedirectManager.RedirectTo(ReturnUrl);
        //}
    }

    private async Task<string> GenerateUniqueAnonymousUsernameAsync()
    {
        string[] Adjectives = { "Sleepy",
              "Tired",
              "Dopey",
              "Hungry",
              "Grumpy",
              "Happy",
              "Bashful",
              "Chill",
              "Lazy",
              "Clumsy",
              "Cranky",
              "Gloomy" 
    };

        string[] AnimalNouns = {
          "Badger",
          "Beaver",
          "Ferret",
          "Gopher",
          "Otter",
          "Porcupine",
          "Raccoon",
          "Squirrel",
          "Weasel",
          "Wombat"
    };

        Random random = new();
        string generatedName = "";
        bool isUnique = false;
        int attemptsCounter = 0; // Prevents infinite loops
        const int MAX_ATTEMPTS = 50;
        const int MAX_USER_NUMBER = 500;

        do
        {
            string adjective = Adjectives[random.Next(Adjectives.Length)];
            string animal = AnimalNouns[random.Next(AnimalNouns.Length)];
            int number = random.Next(1, MAX_USER_NUMBER); // 1 to 10000

            generatedName = $"{adjective}{animal}{number}";

            var existingUser = await UserManager.FindByNameAsync(generatedName);
            if (existingUser == null)
            {
                isUnique = true;
            }

            attemptsCounter++;

            if (attemptsCounter > MAX_ATTEMPTS)
            {
                generatedName += random.Next(100, 999).ToString();
                break;
            }
        } while (!isUnique);

        return generatedName;
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        public bool IsGeneratedName {get;set;} = true;

        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        [Required]
        [Display(Name = "User Name")]
        [StringLength(30, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 3)]
        public string? CustomUserName { get; set; }

        [Required]
        [Display(Name = "First Name")]
        [StringLength(80, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 1)]
        public string FirstName { get; set; } = string.Empty;

        // Not Required
        [Display(Name = "Middle Name")]        
        public string MiddleName { get; set; } = string.Empty;

        [Required]
        [Display(Name = "Last Name")]
        [StringLength(80, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 1)]
        public string LastName { get; set; } = string.Empty;

        [Required]
        [DataType(DataType.Date)]
        [Display(Name = "Birth Date")]
        public DateTime BirthDate { get; set; } = DateTime.Now;

        [Required]
        [Display(Name = "Religious Affiliation")]
        public ReligiousAffiliationEnum? ReligiousAffiliation { get; set; }

        [Required]
        [Display(Name = "City")]
        [StringLength(80, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 1)]
        public string City { get; set; } = string.Empty;

        [Required]
        [Display(Name = "State")]
        //[StringLength(80, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 1)]
        public StateEnum State { get; set; }

        [Required]
        [Display(Name = "Zip Code")]
        [StringLength(12, ErrorMessage = "The {0} cannot exceed {1} characters.", MinimumLength = 3)]
        public string ZipCode { get; set; } = string.Empty;

        [Required]
        [Display(Name = "Country")]
        //[StringLength(80, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 1)]
        public CountryEnum Country { get; set; }
    }
}
